  <blockquote id="<%= dom_id post %>">
  <p><%= post.body %></p>
  <small class="pull-right"><%= post.poster == "" || !post.poster ? 'Noname':post.poster %></small>
  <br />
  <a href="#" class="pull-right" onclick="$('#postid').val(<%= post.id %>);$('#newreply').modal('show')">Reply</a>
  <ul>
  <%= render post.comments %>
  </ul>
  </blockquote>

